## Python Basics
#의 이름 == Hash sign

__1. Correct indentation and strings__
앞뒤로 __를 넣어주면 번호(순서)표기

- strings are used for storing and representing text data.
앞에 -를 넣으면 떙떙이

In [4]:
print('This Kooc is an excellent course')
    print("Course name \nis Practical Python")
print("Those who don't take this Kooc would regret their decisions")
# \n은 줄바꿈

IndentationError: unexpected indent (Temp/ipykernel_28684/3340061167.py, line 2)

__2. Integers, floats and decimal : using Python as a calculator__

- Variable names are identifiers, so they follow the rules of identifier.
- Variables store values such as strings, numbers, and other data types.
- Use a hash, #, to write memos in a line.

In [5]:
23+17

40

In [6]:
2/3

0.6666666666666666

In [10]:
x = 23 ; y = 17
print(x + y)
print(x + y, x - y, x * y, x/y) #프린트 안에 여러 개의 수식을 넣을 수 있다.
# 세미콜론 ;을 사용하면, 두 줄을 한 줄에 사용할 수 있다(줄이 길어질 수록 비효율적)

40
40 6 391 1.3529411764705883

__3. Data types and simple use of print function__

In [18]:
y = 5
z = 7.5
print("y + z= ", y + z)
print("y - z= ", y - z)
print("y * z= ", y * z)
print("y / z= ", y / z)
print("y **2 =", z**2)
print("z//y =", z//y)
print("z%y =", z%y)
#//는 몫, %=는 나머지
print(type(y))
print(type(z))

y + z=  12.5
y - z=  -2.5
y * z=  37.5
y / z=  0.6666666666666666
y **2 = 56.25
z//y = 1.0
z%y = 2.5
<class 'int'>
<class 'float'>

__4. String, Boolean, and triple quoted strings__

- Boolean expression
- """ are used to write multiple line strings"""
- is also used for docstrings.

In [19]:
print(7 > 3)
print(3 > 7)
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [22]:
"""Triple quoted strings are used to write multiple line string.
This is an example of a doc string."""

'Triple quoted strings are used to write multiple line string.\nThis is an example of a doc string.'

In [21]:
"""
a + b = c
d + e = g
"""

'\na + b = c\nd + e = g\n'

__5. Taking input valus__

In [23]:
your_name = input('What is your name?')
print(your_name)

What is your name?이상재
이상재

In [31]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you?25
25 <class 'str'>

In [32]:
my_age = input('How old am I?')
print(your_age+my_age) #문자열의 연산, 그대로 연결(concatenatino)

How old am I?20
2520

In [33]:
print(int(your_age)+int(my_age)) #정수형으로 형변환

45

In [35]:
int(21.8) #float -> int

21

In [36]:
print(float(your_age)+float(my_age)) #유리수형으로 형변환

45.0

__6. If clause and comparison operators__

[comparison operators]

- x >, <, >=, <=, ==, !=
`
[If clause]
- if, elif, else

In [2]:
x = int(input('Enter an integer'))

if x == 1:
    print('x has a value of 1')
else:
    print('x does not have a value of 1')

Enter an integer1
x has a value of 1

In [3]:
var1 = int(input('Enter the first integer'))
if var1 < 0:
    print('The first integer is', var1, 'and its value is negative.')

var2 = int(input('Enter the sencond integer'))
if var2 < 0:
    print('The second integer is negative', 'and its value is', var2)
else:
    print('The second integer is positive', 'and its value is', var2)

Enter the first integer1
Enter the sencond integer2
The second integer is positive and its value is 2

__7. Dynamic value assingment and type changing__
- What happens if you assing different values for the same variable?

In [5]:
print(x, type(x))

x = 2.5
print(x, type(x))

x = 'Android'
print(x, type(x))
#=> 기본 파이썬은 변수의 '값'뿐만 아니라 '데이터타입'에 대한 정보를 모두 저장한다!

1 <class 'int'>
2.5 <class 'float'>
Android <class 'str'>

__8. Multiple statements on a single line__
- seperate two command lines with semicolon

In [6]:
print("hello!"); print('this is kooc content \nfor python basics.')

hello!
this is kooc content
for python basics.